.head-top{
	height: 28px;
	border-bottom: 1px solid #e5e5e5;
	line-height: 28px;
}
.head-top-cont{
	
	font-size: 12px;
	color: #a1a1a1;
}
.head-top-cont span{
	color: #da0000;
}
.head-top-cont .top-right{
	text-align: right;
}
.head-top-cont .top-right a{
	color: #A1A1A1;
	font-size: 12px;
}
/*logo-nav部分*/
.head-cont{
	height: 91px;
}
.nav{
	margin-top: 22px;
	padding-left: 184px;
}
.head-cont .logo img{
	padding-top: 22px;
}
.nav a{
	margin-left: -6px;
	font-size: 14px;
	font-weight: bold;
	padding: 22px 18px;
	/*默认会产生间隙*/
	display: inline-block;
	color: #363636;
}
.nav a:hover{
	border-bottom: 5px solid #d90000;
}
.banner{
	min-width: 1000px;
}
.banner img{
	width: 100%;
}
/*服务模块*/
.server{
	height: 270px;
	width: 100%;
	min-width: 1000px;
}
.server div{
	height: 270px;
	text-align: center;
}
.server img{
	margin-top: 72px;
}
.server p{
	margin-top: 30px;
	font-size: 13px;
}
/*------关于我们和公司公告-----------*/
.about-warp{
	margin-top: 30px;
	height: 282px;
}
.about{
	height: 280px;
	width: 700px;
	border: 1px solid #e5e5e5;
	padding-left: 0px;
}
.about h3{
	font-size: 24px;
	margin-top: 46px;
}
.about p{
	color: #999999;
	font-size: 12px;
	line-height: 24px;
	margin-top: 26px;
	width: 292px;
}
.about button{
	width: 120px;
	height: 34px;
	margin-top: 26px;
}
.about .guanyu{
	padding-left: 30px;
}
.notice{
	width: 260px;
	margin-left: 20px;
	padding: 0px;
}
.notice .panel-heading{
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-color: #f7f7f7;
	height: 56px;
}
.notice .panel-heading .panel-title{
	padding: 0px 15px;
	line-height: 56px;
	font-size: 18px;
}
.notice .panel-title a{
	position: absolute;
	right: 14px;
	font-size: 12px;
	color: #999999;
}
.notice .panel-body ul{
	margin: 0px;
	padding-left: 0px;
	padding-bottom: 9px;
} 
.notice .panel-body li{
	list-style: none;
	height: 36px;
}
.notice .panel-body li a{
	color: #999999;
}
/*特色模块*/
.feture{
	margin-top: 65px;
	background:url(../image/首页1/图层117拷贝.png) no-repeat;
	text-align: center;
	padding-top: 0px;
	height: 500px;
}
.feture .container{
	height: 100%;
}
.feture h1{
	display: inline-block;
	text-align: center;
	color: white;
	margin-top: 90px;
	margin-bottom: 0px;
}
.feture .feture-img{
	margin-top: 70px;
}
.feture p{
	margin-top: 30px;
}
.feture p a{
	color:#daa29e;;
}
/*新闻资讯。。。*/
.news-wraper{
	height: 402px;
	margin-top: 65px;
	padding-left: 0px;
	padding-right: 0px;
}
.news-wraper .row{
	margin: 0px;
}
.news,.comment,.deal{
	height: 402px;
	width: 346px;
	padding:0px;
}
.news .panel,.comment .panel{
	width: 346px;
	
}

/*新闻*/
.news,.comment{
	padding-left: 0px;
	padding-right: 0px;
}
.news .panel .panel-heading,.comment .panel .panel-heading{
	height: 56px;
	line-height: 56px;
	padding-left: 20px;
}
.news .panel .panel-heading span{
	font-size: 18px;
}
.news .panel .panel-heading a{
	font-size: 12px;
	color: #999999;
	margin-left: 202px;
}
.news .panel .list-group,.comment .panel .list-group{
	border: none;
}
.news .panel .panel-body li,.comment .panel .panel-body li{
	padding: 0px 5px;
	height: 75px;
	border: none;
	margin-top: 30px;
}
.news .panel .panel-body .item-img,.comment .panel .panel-body .item-img{
	float: left;
	width: 100px;
}
.news .panel .panel-body .item-text,.comment .panel .panel-body .item-text{
	float: right;
	width: 174px;
}
.news .panel .panel-body .item-text h3,.comment .panel .panel-body .item-text h3{
	font-size: 14px;
	font-weight: bold;
	margin-top: 0px;
}
.news .panel .panel-body .item-text p,.comment .panel .panel-body .item-text p{
	font-size: 12px;
	color: #999999;
	line-height: 24px;
}
/*评论----------------------------------------------------------------------------------------*/
.comment{
	margin-left: 20px;
}
/*评论头部样式*/
.comment .panel .panel-heading{
	padding-left: 0px;
}
.comment .panel .panel-heading span{
	display: inline-block;
	width: 173px;
	height: 56px;
	text-align: center;
}
.comment .panel .panel-heading span:last-child{
	margin: -8px;
}
.comment .panel .panel-heading span:first-child{
	background-color: white;
	border:1px solid white;
}




/*交易*/
.deal{
	width: 270px;
	margin-left: 18px;
}
.deal .panel-heading{
	height: 56px;
	width: 270px;
	line-height: 56px;
}
.deal .panel-heading span{
	margin-left: 15px;
	font-size: 18px;
}
.deal .panel-heading a{
	font-size: 12px;
	color: #999999;
	margin-left: 130px;
}

.deal .panel-body ul{
	padding-left: 24px;
	margin: 24px 0px 0px 0px;
	
}
.deal .panel-body ul li{
	list-style: square;
	height: 36px;
}
.deal .panel-body ul li a{
	font-size: 12px;
	color: #999999;
	
}
/*-----数据表格----------*/
.table-wraper{
	margin-top: 70px;
	padding-top: 65px;
	background-color: #f3f3f3;
	height: 602px;
	font-size: 12px;
	color: #999999;
}
.table-wraper tr{
	height: 50px;
}
.table-wraper tr:nth-child(1){
	height: 56px;
}
.table-wraper tr:nth-of-type(2n){
	background-color: #FFFFFF; 
}
/*用户数量统计*/
.table-wraper .col-md-8{
	padding-right: 0px;
	padding-left: 0px;
}
.table-wraper .col-md-4{
	width: 280px;
	padding: 0px;
	margin-left: 10px;
	
}
.table-wraper .col-md-4 .use-num{
	width: 280px;
	border: 1px solid transparent;
	border-bottom: 1px solid #F3F3F3;
	text-align: center;
	background-color: #FFFFFF;
	box-sizing: border-box;
}
.table-wraper .col-md-4 .use-num p:nth-of-type(1){
	margin: 48px 0px 0px 0px;
	font-size: 40px;
	color: #D90000; 
}
.table-wraper .col-md-4 .use-num p:nth-of-type(2){
	margin: 18px 0px 0px 0px;
	font-size: 14px;
	color: #999999;
}
.table-wraper .col-md-4 .use-num button{
	margin: 46px 0px 46px 0px;
	width: 198px;
	height: 42px;
	background-color: #d90000;
	color: #FFFFFF;
	border: none;
}
/*------二维码部分-----------*/
.table-wraper .col-md-4 .qr-code{
	height: 227px;
	border: 1px solid transparent;
	background-color: #FFFFFF;
	position: relative;
}
.table-wraper .col-md-4 .qr-code p{
	font-size: 14px;
	margin: 0px;
	text-indent: 20px;
	margin-top: 36px;
	color: #999999;
}
.table-wraper .col-md-4 .qr-code img{
	position: absolute; 
	top: 76px;
	left: 20px;
}
.table-wraper .col-md-4 .qr-code ol{
	margin-top:25px;
	margin-left: 120px;
	font-size: 12px;
	color: #999999;
}
.table-wraper .col-md-4 .qr-code ol li{
	height: 36px;
	line-height: 36px;
}
/*-----------------合作伙伴模块-----------------------------*/
.partner{
	border: 1px solid transparent;
	height: 352px;
}
.partner p{
	margin-top: 68px;
	color: #999999;
}
.partner ul{
	margin: 0px 0px 0px 16px;
	padding: 0px;
}
.partner ul li{
	list-style: none;
	float: left;
	width: 156px;
	height: 42px;
	margin-right: 86px;
	margin-top: 52px;
}
.partner img{
	width: 100%;
	height: 100%;
}
/*-------------footer底部区域---------------------*/
.footer{
	margin-top: 153px;
	height: 372px;
	background-color: #f2f2f2;
}
.footer .height{
	height: 260px;
	border-bottom: 1px solid #A6A6A6;
}
.footer .footer-nav p{
	margin-top: 48px;
	font-size: 14px;
	color: #a6a6a6;
}
.footer .footer-nav ul{
	padding: 0px;
	margin: 0px;
}
.footer .footer-nav ul li{
	margin-top: 20px;
	list-style: none;
	color: #999999;
	font-size: 12px;
}
.footer .phone{
	padding-left: 100px;
}
.footer .phone a{
	display: inline-block;
	height: 68px;
	width: 46px;
	padding-top: 46px;
	box-sizing: border-box;
	text-align: center;
	font-size: 12px;
	color: #999999;
}
.footer .phone a:nth-of-type(1){
	background: url(../image/首页1/图层89.png) no-repeat;
}
.footer .phone a:nth-of-type(2){
	margin-left: 24px;
	background: url(../image/首页1/图层88.png) no-repeat;
}

.footer .phone p:nth-of-type(1){
	margin-top: 48px;
	font-size: 16px;
	color: #a6a6a6;
	
}
.footer .phone p:nth-of-type(2){
	margin-top: 14px;
	color: #a72323;
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 0px;
}
.footer .phone p:nth-of-type(3){
	color: #999999;
	margin-top: 14px;
	font-size: 12px;
}
.footer .link{
	text-align: center;
	color: #999999;
	font-size: 12px;
}
.footer .link a{
	color: #999999;
	font-size: 12px;
}
.footer .link p:nth-of-type(1){
	margin-top: 36px;
}
.footer .link p:nth-of-type(2){
	margin-top: 20px;
}